*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#fff;
color:#222;
line-height:1.6;
}

.container{
width:90%;
max-width:1200px;
margin:auto;
}

header{
position:absolute;
width:100%;
padding:20px 0;
z-index:100;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
}

nav{
display:flex;
align-items:center;
justify-content:center;
gap: 20px;
}

nav a{
text-decoration:none;
color:rgb(9, 1, 1);
align-items:center;
justify-content:center;
margin-right:10px;
}

nav button{
background:#2962ff;
color:white;
border:none;
padding:10px 18px;
margin-left:160px;
cursor:pointer;
border-radius:6px;
}